##############################################################
#
# List of approvers/reviewers for DMC View open source project
#
##############################################################
#
# Get in touch with us via issues or contribution
#  https://github.com/alan-techdev/dmc-view
# 
#
# Learn about CODEOWNERS file format: 
#  https://help.github.com/en/articles/about-code-owners
#

# These owners will be the default owners for everything in the repo.
* @iso-techdev @alan-techdev

# To protect a repository fully against unauthorized changes, 
# you also need to define an owner for the CODEOWNERS file itself. 
# The most secure method is to define a CODEOWNERS file in the .github directory of the repository 
# and define the repository owner as the owner of either the CODEOWNERS file (/.github/CODEOWNERS @owner_
# username) or the whole directory (/.github/ @owner_username).
/.github/ @iso-techdev



